html, body, ul, ol, p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

a {
    color: #3d3d3d;
}

header, div, section, main {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}